.card-body{
    background-color: #DBB699;
    width: 958px;
    height: 400px;
    margin:auto
}
.left-icon{
    padding: 50px 10px 10px 50px;
}
.right-icon{
    padding: 30px 0 0 2px;
}
.right-icon .rectangle{
    margin-left: 30px;
    position: absolute;
    right: 200px ;
    z-index: 1;
}
.right-icon .waves{
    margin-top: -17px;
    position: absolute;
    top: 430px;
}
.list-product{
    width: 958px;
    margin: auto;
}
.title-product{
    color: #613D2B;
}