/* css authentikasi */
.navbar {
    background-color: #F5F5F5;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}
.navbar .container-fluid .navbar-brand{
    margin-left: 60px;
}
.btn-auth{
    margin-right:110px ;
}
.btn-login{
    width: 100px;
    height: 30px;
    color: #613D2B;
    border-radius: 5px;
}
.btn-register{
    width: 100px;
    height: 30px;
    background-color: #613D2B;
    border-radius: 5px;
    color: azure;
}

/* css landing admin */
.btn-auth .img-profile {
    width: 60px;
    height: 60px;
    border: 3px solid rgba(100, 58, 10, 0.747) ;
}
.dropdown-item {
    cursor: pointer;
}
